.scoreboard {
    max-height: 600px;
    width: 100%;
    margin: 0;
    overflow: auto;
    background-image: url("https://www.muralswallpaper.com/app/uploads/PinkRectangle-Georgian-Wood-Panel-Effect-Wallpaper-Mural-Plain-820x532.jpg");
    background-size: stretch;
}

.greeting {
    text-align: center;
    padding-top: 35px ;
}

h2 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 45px;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #7074cc;
    padding: 10px;
}

.instructions {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
}

.scores {
    text-align: center;
}
p {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 25px;
}